---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _xPadding, _sectionPadding } from '@scripts/snips'
import { _fontSize } from '@scripts/font-size'
import _slugify from '@scripts/slugify'
import CardInsight from '@blocks/CardInsight.astro'
import { _insights, _categories, _sectors, _practices } from '@scripts/store'
import InputText from '@atoms/InputText.astro'
import ButtonFab from '@atoms/ButtonFab.astro'
import FiltersInsights from '@blocks/FiltersInsights.astro'
import { maxItems } from '@scripts/constants'
import Pagination from '@blocks/Pagination.astro'

const { blok } = Astro.props
const insights = _insights.value
const categories = _categories.value.map((i) => i.content.title)
const sectors = _sectors.value.map((i) => i.content.title)
const practices = _practices.value.map((i) => i.content.title)
const authors = insights
	.map((i) => i.content.author)
	.flat()
	.map((i) => i.name)
const uniqueAuthors = [...new Set(authors)]

const current = Number(Astro.url.searchParams.get('page')) || 1
const visibleItems = insights.slice(
	(current - 1) * maxItems,
	current * maxItems,
)
---

<Section
	component={blok.component}
	title={blok.title}
	overlap
	class='r-hide-overflow overflow-y-clip z-20'>
	<Wrapper
		margins={false}
		class:list={[
			'overflow-clip bg-[var(--color-bg-default)] lg:bg-transparent rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-none',
		]}>
		<Grid class='overflow-clip'>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/1/2/4] self-start sticky bg-[var(--color-bg-default)] z-10 -top-px [&.is-pinned]:shadow lg:!shadow-none h-18 place-content-center lg:pt-8',
					_xPadding('both-md-down-l'),
				]}
				data-pin-top>
				<form class='space-y-1.5'>
					<div
						class='flex items-center justify-between group-[&.is-pinned]:pb-3 lg:!pb-0 gap-3'>
						<InputText
							isSearch
							label='Search'
							id='text'
							name='search-insights'
							placeholder='Search JEE Insights'
							class='w-full'
						/>
						<ButtonFab
							icon='funnel'
							label='Toggle Page Sorting & Filtering'
							class='lg:sr-only flex-shrink-0'
							type='button'
						/>
					</div>
					<FiltersInsights
						categories={categories}
						sectors={sectors}
						practices={practices}
						people={uniqueAuthors}
						class='hidden xl:flex xl:flex-col'
					/>
				</form>
			</div>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/4/2/13] grid grid-cols-1 gap-y-6 md:gap-y-8',
					_xPadding('both-md-down-lg-r'),
				]}>
				{
					visibleItems.length > 0 ? (
						<>
							{visibleItems.map((i, x) => (
								<CardInsight
									piece={i}
									landscape
									profile={false}
								/>
							))}
							<Pagination
								total={insights.length}
								size={maxItems}
								current={current}
							/>
						</>
					) : (
						<p class='text-2xl text-center'>No results found</p>
					)
				}
			</div>
		</Grid>
	</Wrapper>
</Section>
