---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _gridGap, _sectionPadding, _spaceY, _xPadding } from '@scripts/snips'
import _slugify from '@scripts/slugify'
import HeadingSection from '@blocks/HeadingSection.astro'
import ListStat from '@blocks/ListStat.astro'
import _empty from '@scripts/empty'
import CardContactPerson from '@blocks/CardContactPerson.astro'
import { _getOffices } from '@scripts/collections/get-offices'

const { blok } = Astro.props
const officesData = await _getOffices()
const offices = officesData.data.stories
---

<Section
	component={blok.component}
	overlap={blok.overlap}
	id={_slugify(blok.title)}>
	<Wrapper class:list={[_spaceY()]}>
		<HeadingSection text={blok.title} level='h2' size='4' />
		<Grid grid='1-2-3' tag='ul' class={[_gridGap('y')]}>
			{
				offices.map((i) => (
					<li class='space-y-6 md:space-y-8'>
						<ListStat
							heading={i.content.tag}
							color='title'
							size='1hx'
							body={i.content.address}
							richtext
							uppercase={false}
						/>
						{!_empty(i.content.contacts) && (
							<ul class='flex flex-col gap-4'>
								{i.content.contacts.map((j) => (
									<CardContactPerson
										link={j.full_slug}
										image={j.content.headshot}
										name={j.content.name}
										designation={
											j.content.byline[0]?.content?.title
										}
										email={j.content.links[0].email[0]}
										phone={j.content.links[0].phone[0]}
									/>
								))}
							</ul>
						)}
					</li>
				))
			}
		</Grid>
	</Wrapper>
</Section>
