---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import { _sectionPadding, _xPadding, _spaceY, _gridGap } from '@scripts/snips'
import BrandCutFull from '@atoms/BrandCutFull.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import _empty from '@scripts/empty'
import Image from '@atoms/Image.astro'
import ButtonJumpTo from '@atoms/ButtonJumpTo.astro'
import RichText from '@atoms/RichText.astro'
import ButtonLink from '@atoms/ButtonLink.astro'

const {
	blok,
	altComponent,
	showBreadcrumbs = true,
	breadcrumbLink,
	breadcrumbLabel,
	altTitle,
	altCopy,
	altImage,
	altImageAlt,
	slotIn,
	class: classes,
	...props
} = Astro.props
const label = blok?.link[0]?.label || breadcrumbLabel
const copy = altCopy ? altCopy : blok?.copy
const links = blok?.jump_links ?? null
const frontpage = blok?.is_frontpage
const button = blok?.button
---

<Section
	component={altComponent ? altComponent : blok.component}
	image
	section={false}
	class:list={[
		'r-hide-overflow min-h-[19.5rem] xs:min-h-[17rem] sm:min-h-[16rem] md:min-h-[19rem] lg:min-h-[20rem]',
		classes,
	]}
	{...props}>
	<Wrapper margins={false}>
		<Grid grid='4-12-12' class='items-start'>
			<div
				class:list={[
					'[grid-area:1/1/2/5] ml:[grid-area:1/1/2/7] lg:[grid-area:1/1/2/6] order-2 ml:order-1 mt-[20rem] ml:mt-0 rounded-tr-[2rem] rounded-br-[3.5rem] lg:rounded-tr-[3.5rem] lg:rounded-br-[6rem] bg-[var(--color-bg-default)] relative z-[2]',
					_xPadding('both-lg-l'),
				]}>
				<div
					class='py-8 ml:py-10 lg:pt-4 lg:pb-12 ml:pr-6 lg:pr-12 flex flex-col gap-2.5 sm:gap-4'>
					{
						showBreadcrumbs && (
							<Breadcrumb
								altLink={
									breadcrumbLink
										? breadcrumbLink
										: blok.link[0].link
								}
								labelText={label ? label : 'JEE Home'}
								page={altTitle ? altTitle : blok.title}
							/>
						)
					}

					<!-- Headline -->
					<Text
						tag='h2'
						text={altTitle ? altTitle : blok.headline}
						color='title'
						size={frontpage ? '2' : '3'}
						weight='extra'
						tighten
					/>

					<!-- Copy (Subtitle) -->
					{
						!_empty(copy) && copy.length > 1 && (
							<Text
								tag='p'
								text={copy}
								color='body'
								size={frontpage ? '5' : 'copy'}
								class='max-w-screen-sm pr-6 mt-1.5 sm:mt-2.5'
							/>
						)
					}

					<!-- Custom use/Slot -->
					{
						slotIn ? (
							<slot />
						) : (
							<>
								{!_empty(links) && (
									<div class='flex flex-col gap-1 py-4'>
										{links.map((i) => (
											<ButtonJumpTo
												label={i.label}
												hash={i.link_hash}
												icon='arrow-down'
											/>
										))}
									</div>
								)}
								<RichText
									text={blok.expression}
									pType='body'
									class:list={frontpage && 'line-clamp-5'}
								/>

								{
									/* Read Button */
									frontpage && !_empty(button) && (
										<div class='mt-4'>
											<ButtonLink
												link={button[0].link}
												label={button[0].label}
											/>
										</div>
									)
								}
							</>
						)
					}
				</div>
			</div>

			<!-- Image -->
			<div
				class='[grid-area:1/1/2/5] ml:[grid-area:1/5/2/13] order-1 ml:order-2 h-[25rem] ml:h-[32.5rem] lg:h-[39rem] rounded-t-[1.5rem] ml:rounded-[2rem] ml:!rounded-br-[14rem] lg:rounded-[3.5rem] lg:!rounded-br-[18.5rem] ml:-mt-[1.875rem] lg:-mt-[2.8125rem] z-[1] relative overflow-clip'>
				<Image
					filename={altImage ?? blok.image.filename}
					alt={altImageAlt ?? blok.image.alt}
					filter
					class='h-full'
				/>
			</div>
		</Grid>
	</Wrapper>
	<BrandCutFull placement={frontpage ? 'poster' : 'expression'} />
</Section>
