---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import { _gridGap, _sectionPadding, _spaceY, _xPadding } from '@scripts/snips'
import BrandCutDown from '@atoms/BrandCutDown.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import { _empty } from '@scripts/utils/empty'
import _slug from '@scripts/slug'
import Image from '@atoms/Image.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import CardPerson from '@blocks/CardPerson.astro'
import Icon from '@atoms/Icon.astro'
import RichText from '@atoms/RichText.astro'
import ListStat from '@blocks/ListStat.astro'

const {
	pageData,
	breadcrumbLink,
	breadcrumbLabel,
	flipped,
	class: classes,
	...props
} = Astro.props
---

<Section
	component={pageData.component}
	header
	section={false}
	class:list={['r-hide-overflow', classes]}
	{...props}>
	<Wrapper inset>
		<Grid grid='4-12-12' class:list={[_gridGap('y'), 'lg:min-h-[42rem]']}>
			<div class:list={['col-span-full lg:[grid-area:1/1/2/7]']}>
				<div class:list={['flex flex-col gap-2 sm:gap-3']}>
					<Breadcrumb
						page={pageData.title}
						altLink={breadcrumbLink}
						labelText={breadcrumbLabel}
					/>
					<div class:list={['flex flex-col gap-3 lg:gap-4 pr-4']}>
						<Text
							tag='h2'
							text={pageData.title}
							color='title'
							size='3'
							weight='extra'
							tighten
						/>
						{
							!_empty(pageData.summary) && (
								<RichText
									text={pageData.summary}
									color='caption'
									pType='1hx'
									class='mt-1 !leading-snug'
								/>
							)
						}
					</div>
				</div>
				{
					!_empty(pageData.facts) && (
						<ul
							class:list={[
								'grid grid-cols-2 md:grid-cols-3 ml:grid-cols-4 lg:grid-cols-2 gap-8 md:gap-12 pt-8 sm:pt-10 md:pt-14',
							]}>
							{pageData.facts.map((i) => (
								<ListStat
									heading={i.title}
									body={i.description}
									size='blurb'
                                    color='title'
								/>
							))}
						</ul>
					)
				}
			</div>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/7/2/13] size-full sm:size-[30rem] md:size-[40rem] lg:size-full justify-self-center lg:justify-self-start self-start',
				]}>
				<div class='grid grid-cols-4 grid-rows-4 h-full'>
					<div class='[grid-area:1/1/5/5] z-0'>
						<Icon
							name='africa-map'
							class='size-full saturate-[.2] opacity-35'
						/>
					</div>
					<div
						class:list={[
							'z-[2] r-flex-center relative w-full',
							pageData.region === 'north' &&
								'[grid-area:1/1/2/5]',
							pageData.region === 'east' &&
								'[grid-area:3/3/4/5] self-end justify-self-end',
							pageData.region === 'south' &&
								'[grid-area:4/1/5/5] ',
							pageData.region === 'central' &&
								'[grid-area:2/1/3/5]',
							pageData.region === 'west' &&
								'[grid-area:3/1/4/3] self-start justify-self-start',
						]}>
						<div
							class='z-0 absolute size-24 sm:size-36 rounded-full bg-[var(--color-emphasis)] animate-ping [animation-duration:5s]'>
						</div>
						<Icon
							name={pageData.country}
							class='size-16 z-[1] absolute'
						/>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
