---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import BrandCutDown from '@atoms/BrandCutDown.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import _empty from '@scripts/empty'
import _slug from '@scripts/slug'
import Image from '@atoms/Image.astro'
import ListLinkFab from '@blocks/ListLinkFab.astro'
import RichText from '@atoms/RichText.astro'

const { person, class: classes, ...props } = Astro.props
---

<Section
	component={person.component}
	header
	section={false}
	class='r-hide-overflow max-h-[80rem]'>
	<Wrapper inset>
		<Grid class='gap-3 gap-y-8 sm:gap-y-12 md:gap-6 lg:gap-8 z-20'>
			<div
				class='col-span-full md:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/6]'>
				<div
					class='h-[30rem] xs:h-[34rem] sm:h-[36rem] lg:h-[37.5rem] overflow-clip bg-[var(--color-bg-default-elevated)] rounded-3xl'>
					<Image
						filename={person.headshot.filename}
						alt={person.headshot.alt}
						filter
						class:list={['size-full object-cover object-top']}
					/>
				</div>
			</div>
			<div
				class='col-span-full md:[grid-area:1/5/2/9] lg:[grid-area:1/6/2/13]'>
				<div
					class='flex flex-col gap-2 sm:gap-3 lg:pl-4 xl:pl-6'>
					<Breadcrumb
						page={person.name}
						altLink="/people"
						labelText='JEE People'
					/>
					<div class='flex flex-col gap-2 md:gap-3'>
						<Text
							tag='h2'
							text={person.name}
							color='title'
							size='3'
							family='display'
							weight='extra'
							tighten
						/>
						<Text
							text={person.byline[0]?.content.title}
							color='caption'
							size='1hx'
							family='display'
							weight='medium'
						/>
					</div>
					<ul class='flex flex-col py-4 sm:py-6 gap-3'>
						<ListLinkFab
							slug='/contact'
							icon='map-pin-area'
							label={person.links[0].location.content.tag}
						/>
						<ListLinkFab
							slug={person.links[0].vcard.filename}
							icon='download'
							label={'vCard'}
						/>
						<ListLinkFab
							link={person.links[0].email[0]}
							icon='envelope'
						/>
						<ListLinkFab
							link={person.links[0].phone[0]}
							icon='phone'
						/>
						<ListLinkFab
							link={person.links[0].linkedin[0]}
							icon='linkedin'
						/>
					</ul>
					<div class='max-w-screen-sm'>
						<RichText text={person.excerpt} pType='1hx' />
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
	<BrandCutDown class='z-[-1]' top/>
</Section>
