---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import BrandCutout from '@atoms/BrandCutout.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section
	component={blok.component}
	header
	section={false}
	class='r-hide-overflow min-h-[17.25rem] md:min-h-[20rem] lg:min-h-[24.5rem]'>
	<Wrapper inset>
		<Grid class='gap-y-5 md:gap-y-12 lg:gap-y-14'>
			<div class='col-span-full md:col-span-6 lg:col-span-8'>
				<div class="flex flex-col gap-1 sm:gap-2 lg:gap-3">
					<Breadcrumb link={blok.link} page={blok.title} />
					<Text
						tag='h2'
						text={blok.headline}
						color='title'
						size='3'
						family='display'
						weight='extra'
						tighten
						class=''
					/>
				</div>
			</div>
		</Grid>
	</Wrapper>
	<BrandCutout />
</Section>
