---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import { _gridGap, _sectionPadding, _spaceY, _xPadding } from '@scripts/snips'
import BrandCutDown from '@atoms/BrandCutDown.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import Breadcrumb from '@blocks/Breadcrumb.astro'
import { _empty } from '@scripts/utils/empty'
import _slug from '@scripts/slug'
import Image from '@atoms/Image.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import CardPerson from '@blocks/CardPerson.astro'

const {
	item,
	heads,
	breadcrumbLink,
	breadcrumbLabel,
	flipped,
	class: classes,
	...props
} = Astro.props
---

<Section
	component={item.component}
	header
	section={false}
	class:list={['r-hide-overflow', classes]}
	{...props}>
	<Wrapper class=''>
		<Grid grid='4-12-12' class:list={[_gridGap('y'), 'lg:min-h-[42rem]']}>
			<div
				class:list={[
					'col-span-full',
					flipped
						? 'lg:[grid-area:1/8/2/13]'
						: 'lg:[grid-area:1/1/2/6]',
				]}>
				<div
					class:list={[
						'h-[22.5rem] xs:h-[30rem] sm:h-[32.5rem] lg:h-[35rem] rounded-t-[1.5rem] md:rounded-t-[3.5rem] overflow-clip',
						flipped
							? 'rounded-bl-[1.5rem] lg:rounded-bl-[18rem] rounded-br-[12.5rem] lg:rounded-br-[3.5rem]'
							: 'rounded-br-[12.5rem] md:rounded-br-[18rem] rounded-bl-[1.5rem] md:rounded-bl-[3.5rem]',
					]}>
					<Image
						filename={item.image.filename}
						alt={item.image.alt}
						filter
						class:list={['h-full']}
					/>
				</div>
			</div>
			<div
				class:list={[
					'col-span-full',
					flipped
						? 'lg:[grid-area:1/1/2/8]'
						: 'lg:[grid-area:1/6/2/13]',
				]}>
				<div
					class:list={[
						'flex flex-col justify-between h-full gap-2 sm:gap-3',
					]}>
					<div
						class:list={[
							flipped && _xPadding('both-xlup-l'),
							'flex flex-col gap-2 sm:gap-3',
						]}>
						<Breadcrumb
							page={item.title}
							altLink={breadcrumbLink}
							labelText={breadcrumbLabel}
						/>
						<div
							class:list={[
								'flex flex-col gap-3 lg:gap-4',
								flipped
									? 'pr-4 xs:pr-6 sm:pr-8'
									: 'pr-4 xs:pr-6 sm:pr-8 lg:pr-20 xl:pr-24',
							]}>
							<Text
								tag='h2'
								text={item.title}
								color='title'
								size='3'
								weight='extra'
								tighten
							/>
							<Text
								text={item.excerpt}
								color='caption'
								size='1hx'
							/>
						</div>
					</div>
					<div
						class:list={[
							'pt-6 ml:pt-8 lg:pt-14 xl:pt-16',
							_spaceY(),
							flipped ? 'lg:mr-[calc(-50vw+50%)]' : '',
						]}>
						<HeadingSection
							level='h2'
							text={heads.title}
							size='5'
							weight='extra'
							class='max-w-max'
						/>
						<ul class:list={['flex gap-4 overflow-auto']}>
							{
								heads.persons.map(
									(i) =>
										i?.name && (
											<li class='!w-auto shrink-0'>
												<CardPerson
													person={i}
													size='mini'
												/>
											</li>
										),
								)
							}
						</ul>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
	<BrandCutDown class='z-[-1] lg:!top-[19%]' specialCase flipped={flipped} />
</Section>
