---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import BrandCutFull from '@atoms/BrandCutFull.astro'
import VideoFrame from '@blocks/VideoFrame.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} poster section={false}>
	<Wrapper inset>
		<Grid class='gap-y-5 md:gap-y-12 lg:gap-y-14'>
			<div class='col-span-full md:col-span-5 lg:col-span-7'>
				<Text
					tag='h2'
					text={blok.headline}
					color='title'
					size='2'
					family='display'
					weight='extra'
					tighten
					class=''
				/>
			</div>
			<div
				class='col-span-full md:col-span-3 md:col-start-6 lg:col-span-5 lg:col-start-8 md:pt-8 lg:pt-12 2xl:pt-14 max-w-screen-sm'>
				<Text
					tag='p'
					text={blok.copy}
					color='body'
					size='copy'
					family='display'
					class=''
				/>
			</div>
			<div class='col-span-full mt-2 md:mt-0'>
				<ButtonLink
					link={blok.button[0].link}
					label={blok.button[0].label}
				/>
			</div>
		</Grid>
	</Wrapper>
	<div class:list={[_sectionPadding('top'), 'relative overflow-x-clip']}>
		<Grid class='md:px-3 lg:px-8 xl:px-18'>
			<VideoFrame video={blok.video_id} class='col-span-full' />
		</Grid>
		<BrandCutFull />
	</div>
</Section>
