---
import Image from '@atoms/Image.astro'
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'
import CardPerson from '@blocks/CardPerson.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import SectionSpy from '@blocks/SectionSpy.astro'
import HeaderBasic from '@composites/headers/HeaderBasic.astro'
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import _empty from '@scripts/empty'
import _slugify from '@scripts/slugify'
import { _spaceY, _sectionPadding, _xPadding } from '@scripts/snips'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props,
	headings = []

!_empty(blok.video_id) && headings.push('Watch')
headings.push(blok.description_label)
headings.push(blok.panelists_label)
headings.push(blok.sessions_label)
headings.push(blok.rsvp_label)
---

<HeaderBasic
	altComponent={blok.component}
	breadcrumbLink='/events'
	breadcrumbLabel='JEE Events'
	altTitle={blok.title}
	altCopy='.'
/>
<Section
	component={blok.component}
	title={'Event Details'}
	overlap
	spy
	class='r-hide-overflow overflow-y-clip z-20 bg-[var(--color-bg-default)] lg:bg-transparent rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-0'>
	<Wrapper margins={false} class:list={['overflow-x-clip']}>
		<Grid
			class='rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-0 overflow-clip'>
			<div
				class:list={[
					'col-span-full lg:[grid-area:1/1/2/4] xl:[grid-area:1/1/2/3] self-start sticky bg-[var(--color-bg-default)] z-10 -top-px [&.is-pinned]:shadow lg:!shadow-none overflow-auto',
					_sectionPadding('top-lg-up'),
					_xPadding('both-lgdown'),
				]}
				data-pin-top>
				<SectionSpy
					headings={headings}
					breakAt='lg'
					data-spy-sections
				/>
			</div>
			<div
				class='col-span-full lg:[grid-area:1/4/2/13] xl:[grid-area:1/4/2/12]'>
				<div
					class:list={[
						_sectionPadding('both-md-down'),
						_xPadding('both-md-down-lg-r'),
						'col-span-full grid grid-cols-12',
					]}>
					{
						_empty(blok.video_id) ? (
							<div class='col-span-full'>
								<Image
									filename={blok.image.filename}
									alt={blok.image.alt}
									class:list={[
										'h-[20rem] xs:h-[24.5rem] md:h-[30rem] ml:h-[32.5rem] rounded-[1.5rem] md:rounded-[2rem]',
									]}
								/>
							</div>
						) : (
							<div>Video here...</div>
						)
					}
					<div
						class:list={[
							_sectionPadding('top'),
							'col-span-full md:col-start-2 md:col-end-11 lg:col-start-1',
						]}>
						<Text
							tag='p'
							text={blok.summary}
							color='body'
							size='1hx'
						/>
					</div>
					<div
						class:list={[
							_sectionPadding('top'),
							_spaceY(),
							'col-span-full md:col-start-2 md:col-end-11 lg:col-start-1 _section',
						]}
						id={_slugify(blok.description_label)}>
						<HeadingSection
							level='h3'
							text={blok.description_label}
							size='4'
						/>
						<RichText text={blok.description} pType='body' />
					</div>
					<div
						class:list={[
							_sectionPadding('top'),
							_spaceY(),
							'col-span-full md:col-start-2 md:col-end-11 lg:col-start-1 _section',
						]}
						id={_slugify(blok.panelists_label)}>
						<HeadingSection
							level='h3'
							text={blok.panelists_label}
							size='4'
						/>
						<ul class="flex flex-wrap gap-3 sm:gap-4">
							{
								blok.panelists.map((i) => (
									<li class='!w-auto shrink-0'>
										<CardPerson person={i.person} size='mini' />
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
