---
import Image from '@atoms/Image.astro'
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'
import CardCapsule from '@blocks/CardCapsule.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import HeaderInsight from '@composites/headers/HeaderInsight.astro'
import Grid from '@layouts/Grid.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _gridGap, _sectionPadding, _spaceY, _xPadding } from '@scripts/snips'
import _titlelize from '@scripts/titlelize'

const { blok } = Astro.props,
	authors = blok.author.slice(0, 3),
	expertise = blok.expertise.slice(0, 3)
---

<div>
	<HeaderInsight
		blok={blok}
		breadcrumbLink='/insights'
		breadcrumbLabel='JEE Insights'
	/>
	<Wrapper class:list={[_sectionPadding('bottom'), 'relative z-30']}>
		<Grid class:list={[_gridGap('y')]}>
			<div
				class='col-span-full lg:[grid-area:1/1/2/4] self-start lg:sticky z-10 lg:-top-px lg:pt-8 order-2 lg:order-1'
				data-pin-top>
				<div class='flex flex-col gap-8 lg:gap-12'>
					<div class='flex flex-col gap-3'>
						<HeadingStretch tag='h2' text='Authors' />
						{
							authors.map((i) => (
								<CardCapsule
									entry={i}
									link={i.full_slug}
									subtitle={`JEE ${_titlelize(
										i.full_slug
											.split('/')[0]
											.replace(/-+/g, ' '),
									)}`}
									top
									fill={false}
									adjustWidth={false}
								/>
							))
						}
					</div>
					<div class='flex flex-col gap-3'>
						<HeadingStretch tag='h2' text='Expertise' />
						{
							expertise.map((i) => (
								<CardCapsule
									entry={i}
									link={i.full_slug}
									subtitle={`JEE ${_titlelize(
										i.full_slug
											.split('/')[0]
											.replace(/-+/g, ' '),
									)}`}
									fill={false}
									adjustWidth={false}
								/>
							))
						}
					</div>
				</div>
			</div>
			<div
				class='col-span-full lg:[grid-area:1/4/2/13] grid grid-cols-6 order-1 lg:order-2'>
				<div class:list={[_sectionPadding('bottom'), 'col-span-full']}>
					<Image
						filename={blok.image.filename}
						alt={blok.image.alt}
						class:list={[
							'h-[15rem] xs:h-[20rem] md:h-[25rem] ml:h-[30rem] rounded-[1.5rem] md:rounded-[2rem]',
						]}
					/>
				</div>
				<div
					class:list={[
						'col-span-full md:col-span-4 md:col-start-2 lg:col-start-1 lg:col-span-5',
						_spaceY(),
					]}>
					<div
						class='md:mx-[calc(-50vw+75%)] lg:ml-0 lg:mr-[calc(-50vw+75%)]'>
						<Text
							tag='p'
							text={blok.excerpt}
							color='body'
							size='1hx'
							weight='medium'
							italic
						/>
					</div>
					<RichText text={blok.post} post />
					<div
						class='mx-[calc(-50vw+50%)] md:mx-[calc(-50vw+75%)] lg:ml-0 lg:mr-[calc(-50vw+75%)] bg-[var(--color-bg-default-elevated)] px-3 py-4 border-t border-[var(--color-border-muted)]'>
						<Text
							tag='p'
							text={blok.disclaimer}
							color='body'
							size='footnote'
						/>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
	<Wrapper
		margins={false}
		class:list={[_sectionPadding('bottom'), 'relative z-30']}>
		<Grid>
			<div
				class='col-span-full ml:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/6] bg-[var(--color-bg-default-elevated)] ml:rounded-r-[2rem]'>
				<div
					class:list={[
						_xPadding('left'),
						_spaceY(),
						'px-3 sm:px-4 md:px-6 ml:pr-8 py-6 sm:py-8 ml:py-10',
					]}>
					<HeadingStretch tag='h2' text='Subscribe to JEE Insights' />
					<form>
						Lorem ipsum dolor sit, amet consectetur adipisicing
						elit. Cum delectus obcaecati maiores veritatis explicabo
						nostrum accusantium. Suscipit minima modi odit autem
						dolores quaerat facere mollitia nihil dolor. Natus,
						laudantium quos.
					</form>
				</div>
			</div>
			<div
				class='col-span-full ml:[grid-area:1/5/2/9] lg:[grid-area:1/6/2/13]'>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi
				quod doloremque explicabo praesentium, vero atque, assumenda
				quisquam iure, ipsa officia dolore rerum aspernatur culpa odit
				neque totam repudiandae animi perspiciatis!
			</div>
		</Grid>
	</Wrapper>
</div>
