---
import Image from '@atoms/Image.astro'
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'
import HeaderInsight from '@composites/headers/HeaderInsight.astro'
import Grid from '@layouts/Grid.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _gridGap, _sectionPadding, _spaceY } from '@scripts/snips'

const { blok } = Astro.props
---

<div>
	<HeaderInsight
		blok={blok}
		breadcrumbLink='/insights'
		breadcrumbLabel='JEE Insights'
	/>
	<Wrapper class:list={[_sectionPadding('bottom'), 'relative z-30']}>
		<Grid class:list={[_gridGap('y')]}>
			<div
				class='col-span-full lg:[grid-area:1/1/2/4] self-start lg:sticky z-10 lg:-top-px [&.is-pinned]:pt-8'
				data-pin-top>
				A
			</div>
			<div class='col-span-full lg:[grid-area:1/4/2/13] grid grid-cols-6'>
				<div class:list={[_sectionPadding('bottom'), 'col-span-full']}>
					<Image
						filename={blok.image.filename}
						alt={blok.image.alt}
						class:list={[
							'h-[15rem] xs:h-[20rem] md:h-[25rem] ml:h-[30rem] rounded-[1.5rem] md:rounded-[2rem]',
						]}
					/>
				</div>
				<div
					class:list={[
						'col-span-full md:col-span-4 md:col-start-2 lg:col-start-1',
						_spaceY(),
					]}>
					<div
						class='md:mx-[calc(-50vw+75%)] lg:ml-0 lg:mr-[calc(-50vw+75%)]'>
						<Text
							tag='p'
							text={blok.excerpt}
							color='body'
							size='1hx'
							weight='medium'
							italic
						/>
					</div>
					<RichText text={blok.post} post />
					<div
						class='mx-[calc(-50vw+50%)] md:mx-[calc(-50vw+75%)] lg:ml-0 lg:mr-[calc(-50vw+75%)] bg-[var(--color-bg-default-elevated)] px-3 py-4 border-t border-[var(--color-border-muted)]'>
						<Text
							tag='p'
							text={blok.disclaimer}
							color='body'
							size='footnote'
						/>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</div>
