---
import Text from '@atoms/Text.astro'

const { source, size = '1hx', color = 'title', weight = 'semi', class: classes, ...props } = Astro.props
---

<div class='flex items-center gap-3'>
	<Text
		text={source.content.author[0].name}
		color={color}
		size={size}
		weight={weight}
		family='display'
		tighten
	/>
	{
		source.content.author.length > 1 && (
			<Text
				text={`+${source.content.author.length - 1}`}
				color='caption'
				size={size}
				family='display'
				weight='medium'
			/>
		)
	}
</div>
