---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import { _capitalize } from '@scripts/snips'

const {
    link,
    entry,
    tag,
    subtitle,
    subtitleColor = 'caption',
    adjustWidth = true,
    bleed,
    fill = true,
    height = 'default',
    top,
    contain,
    class: classes,
    ...props
} = Astro.props
const Tag = tag || 'a'
---

<Tag
	{...link ? { href: `/${_slug(link)}` } : {}}
	class:list={[
		'flex items-center w-full rounded-xl group r-hide-overflow overflow-y-clip',
		height === 'default' && 'h-[5.625rem]',
		height === 'tall' && 'h-24',
		adjustWidth ? 'sm:w-[calc(50%-1rem)]' : 'max-w-[23rem]',
		bleed && 'max-w-none',
		fill && 'bg-[var(--color-bg-default-elevated)] p-1',
		link && 'hover:bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div
		class:list={[
			'rounded-tl-lg rounded-bl-lg rounded-tr-2xl rounded-br-[3rem] overflow-clip h-full shrink-0 bg-[var(--color-bg-default-elevated)]',
			height === 'default' && 'w-20',
			height === 'tall' && 'w-24',
		]}>
		<Image
			filename={entry.content?.image
				? entry.content?.image.filename
				: entry.content.headshot.filename}
			alt={entry.content?.image
				? entry.content?.image.alt
				: entry.content.headshot.alt}
			filter
			top={top}
			contain={contain}
			class:list={[
				'size-full',
				link &&
					'group-hover:scale-105 transition-transform duration-200',
			]}
		/>
	</div>
	<div class='px-4 flex flex-col gap-2 h-full justify-around py-2'>
		<Text
			text={entry.content.title
				? entry.content.title
				: entry.content.name
					? entry.content.name
					: entry.name}
			color='title'
			size={height === 'tall' ? '1hx' : 'blurb'}
			weight='semi'
			class={['line-clamp-2']}
		/>
		{
			link && (
				<Text
					text={subtitle}
					color={subtitleColor}
					size='footnote'
					weight='medium'
				/>
			)
		}
	</div>
	{
		link && (
			<div class='fixed bottom-0 right-0 translate-y-4 opacity-0 transition duration-200 group-hover:translate-y-0 group-hover:opacity-100'>
				<Icon
					name='cutout-up'
					class='w-[10rem] text-[var(--color-emphasis)] absolute -right-[4.5rem] -bottom-[2.8rem]'
				/>
				<Icon
					name='arrow-right'
					class='size-5 text-white absolute right-3 bottom-2 z-10'
				/>
			</div>
		)
	}
</Tag>
