---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { item, class: classes, ...props } = Astro.props
---

<a
	href={_slug(item.full_slug)}
	class:list={['size-full group', classes]}
	{...props}>
	<div class='relative overflow-clip grid grid-cols-1'>
		<div
			class='rounded-tl-[2rem] rounded-tr-[3.5rem] rounded-bl-[2rem] rounded-br-[9rem] relative overflow-clip [grid-area:1/1/2/2] h-72'>
			<Image
				filename={item.content.image.filename}
				alt={item.content.image.alt}
				filter
				class:list={[
					'size-full transition-transform duration-200 group-hover:scale-110',
				]}
			/>
		</div>
		<div
			class='[grid-area:1/1/2/2] mt-[12.5rem] ml-4 mr-4 sm:ml-5 sm:mr-7 lg:mr-8 z-10'>
			<div
				class='bg-[var(--color-bg-default)] rounded-t-[2rem] min-h-44 lg:min-h-52 p-4 sm:p-5 space-y-1.5'>
				<div>
					<Text
						tag='h3'
						size='2hx'
						text={item.content.title}
						color='title'
						weight='bold'
					/>
					<Icon
						name='highlight'
						class='fix-svg-stroke w-7 text-[var(--color-text-emphasis)] opacity-0 translate-y-2 group-hover:opacity-100 group-hover:translate-y-0.5 transition duration-200'
					/>
				</div>
				<div class='pr-2 sm:pr-4'>
					<Text
						tag='p'
						size='blurb'
						text={item.content.excerpt}
						color='body'
						class='line-clamp-4'
					/>
				</div>
			</div>
		</div>
	</div>
</a>
