---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'

const { person, tag, size = 'default', class: classes, ...props } = Astro.props

let internal = false

person.content.link ? (internal = false) : (internal = true)
---

<a
	href={internal ? `/${person.full_slug}` : person.content.link.cached_url}
	class:list={[
		'grid grid-cols-1 items-end bg-[var(--color-bg-default-elevated)] group relative overflow-clip',
		size === 'default' &&
			'rounded-[1.25rem] md:rounded-t-[2rem] w-[18.5rem] h-[24.5rem]',
		size === 'mini' && 'rounded-2xl w-[14.5rem] h-[19.5rem]',
		size === 'adaptive' &&
			'w-[18.5rem] h-[24.5rem] md:w-[14.5rem] md:h-[19.5rem] rounded-t-[2rem] md:rounded-2xl',
		classes,
	]}
	{...props}
	target={!internal && '_blank'}>
	<div class='[grid-area:1/1/2/2] z-0'>
		<Image
			filename={person.content.headshot.filename}
			alt={person.content.headshot.alt}
			filter
			top
			class:list={[
				size === 'default' && 'h-[24rem]',
				size === 'mini' && 'h-[18rem]',
				size === 'adaptive' && 'h-[24rem] md:h-[18rem]',
				'transition-transform duration-200 group-hover:scale-105',
			]}
		/>
	</div>
	<div class:list={['[grid-area:1/1/2/2] z-[1]']}>
		<Icon
			name='cutout-down'
			class:list={[
				'h-[18rem] transition-transform duration-200 scale-105 group-hover:scale-110 absolute top-[75%] inset-x-0 z-0',
				internal
					? 'text-[var(--color-backdrop)]'
					: 'text-[var(--color-backdrop)]',
			]}
		/>
		<div
			class:list={[
				'relative z-[2]',
				size === 'default' && 'p-4',
				size === 'mini' && 'p-3',
                size === 'adaptive' && 'p-4 md:p-3'
			]}>
			<Byline
				title={person.name}
				designation={internal
					? person?.content?.byline[0]?.content?.title
					: person?.content?.byline[0]?.designation}
				size={size}
			/>
		</div>
	</div>
</a>
