---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'

const { person, facing = 'west', class: classes, ...props } = Astro.props
---

<a
	href={_slug(person.full_slug)}
	class:list={[
		'grid grid-cols-1 items-end w-[18.5rem] h-[24.5rem] bg-[var(--color-bg-default-elevated)] group',
		classes,
	]}
	{...props}>
	<div class='[grid-area:1/1/2/2] z-0'>
		<Image
			filename={person.content.headshot.filename}
			alt={person.content.headshot.alt}
            top
			class:list={['h-[22.5rem] transition-[height] duration-200 group-hover:h-[24rem]']}
		/>
	</div>
	<div
		class:list={[
			'[grid-area:1/1/2/2] h-11 z-10',
			facing === 'west' && '',
			facing === 'east' && '',
		]}>
		<Byline
			title={person.name}
			designation={person.content.byline[0].content.title}
		/>
	</div>
</a>
