---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'
import Meta from '@atoms/Meta.astro'
import Author from '@blocks/Author.astro'

const {
	piece,
	profile = true,
	landscape,
	class: classes,
	...props
} = Astro.props
---

<a
	href={_slug(piece.full_slug)}
	class:list={[
		'',
		profile && 'size-full',
		landscape && 'h-[23rem] bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div
		class:list={[
			'relative overflow-clip',
			profile && 'rounded-bl-[1.5rem] rounded-br-[8rem]',
		]}>
		<Image
			filename={piece.content.image.filename}
			alt={piece.content.image.alt}
			filter
			class:list={[
				profile && 'h-[15.5rem]',
				'transition-transform duration-200 lg:group-hover:scale-110',
			]}
		/>
	</div>
	<div class:list={['pt-4 pr-4 h-[9rem] flex flex-col justify-between']}>
		<div class='space-y-3'>
			<Meta info={piece.content} />
			<Text
				tag='h3'
				text={piece.content.title}
				color='title'
				size='6'
				family='display'
				weight='semi'
				class='line-clamp-3'
			/>
		</div>
		<Author
			source={piece}
			size='body'
			weight='semi'
			color='body'
			class='mt-auto'
		/>
	</div>
</a>
