---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'

const { person, class: classes, ...props } = Astro.props
---

<a
	href={_slug(person.full_slug)}
	class:list={[
		'grid grid-cols-1 items-end w-[18.5rem] h-[24.5rem] bg-[var(--color-bg-default-elevated)] group relative overflow-clip rounded-[1.25rem] md:rounded-[1.5rem]',
		classes,
	]}
	{...props}>
	<div class='[grid-area:1/1/2/2] z-0'>
		<Image
			filename={person.content.headshot.filename}
			alt={person.content.headshot.alt}
            filter
			top
			class:list={[
				'h-[23.5rem] transition-transform duration-200 group-hover:scale-110',
			]}
		/>
	</div>
	<div class:list={['[grid-area:1/1/2/2] z-10']}>
		<Icon
			name='cutout-down'
			class='text-[var(--color-main)] h-[18rem] transition-transform duration-200 scale-105 group-hover:scale-110 absolute top-[75%] inset-x-0 z-0'
		/>
		<div class='p-4 pb-[1.125rem] relative z-10'>
			<Byline
				title={person.name}
				designation={person.content.byline[0].content.title}
			/>
		</div>
	</div>
</a>
