---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import Byline from '@blocks/Byline.astro'
import Meta from '@atoms/Meta.astro'
import Author from '@blocks/Author.astro'
import FormattedDate from '@atoms/FormattedDate.astro'
import _slugify from '@scripts/slugify'

const {
	piece,
	profile = true,
	landscape,
	class: classes,
	...props
} = Astro.props
---

<a
	href={`/${piece.full_slug}`}
	class:list={[
		'r-hide-overflow overflow-y-clip group',
		profile && 'size-full',
		landscape &&
			'w-full h-full md:h-[24rem] lg:md:h-[25rem] bg-[var(--color-bg-default-elevated)] rounded-3xl p-2 flex flex-col md:flex-row ',
		classes,
	]}
	{...props}>
	<div
		class:list={[
			'relative overflow-clip flex',
			profile && 'rounded-bl-[1.5rem] rounded-br-[8rem]',
			landscape &&
				'w-full h-[23rem] sm:h-[24.5rem] md:h-full md:min-w-[26rem] md:max-w-[26rem] rounded-tl-[2rem] rounded-bl-[2rem] rounded-tr-[2rem] md:rounded-tr-[4rem] rounded-br-[10rem]',
		]}>
		<Image
			filename={piece.content.image.filename}
			alt={piece.content.image.alt}
			filter
			class:list={[
				'transition-transform duration-200 group-hover:scale-110',
				profile && 'h-[15.5rem]',
				landscape && '',
			]}
		/>
	</div>
	<div
		class:list={[
			'flex flex-col justify-between',
			profile && 'pt-4 pr-4 h-[9rem]',
			landscape &&
				'px-2 sm:px-4 py-5 sm:py-7 md:px-8 md:py-10 w-full min-h-[14rem] gap-y-4',
		]}>
		<div class='flex flex-col gap-1 md:gap-2'>
			{profile && <Meta info={piece.content} />}
			{
				landscape && (
					<Text
						text={piece.content.category?.content?.title}
						color='caption'
						size='copy'
						family='display'
						weight='medium'
					/>
				)
			}
			<Text
				tag=`${profile ? 'h4' : 'h3'}`
				text={piece.content.title}
				color='title'
				size=`${ profile ? '6' : '5'}`
				family='display'
				weight=`${profile ? 'semi' : 'extra'}`
				class=`${profile ? 'line-clamp-3' : ''}`
			/>
		</div>
		<div class:list={[landscape && 'flex flex-col gap-1.5']}>
			<Author
				source={piece}
				size=`${ profile ? 'body' : '6'}`
				weight=`${ profile ? 'semi' : 'medium'}`
				family='display'
				color='body'
				class='mt-auto'
			/>
			{
				landscape && (
					<FormattedDate
						dateString={piece.content.published_date}
						size='emphasis'
						color='caption'
						weight='medium'
						class='justify-self-end'
					/>
				)
			}
		</div>
	</div>
	{
		landscape && (
			<div class='hidden md:block fixed bottom-0 right-0 translate-y-8 opacity-0 transition duration-200 group-hover:translate-y-0 group-hover:opacity-100'>
				<Icon
					name='cutout-up'
					class='w-[25rem] text-[var(--color-emphasis)] absolute -right-[9rem] -bottom-[7rem]'
				/>
				<Icon
					name='arrow-right'
					class='size-10 text-white absolute right-6 bottom-6 z-10'
				/>
			</div>
		)
	}
</a>
