---
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import ListStat from '@blocks/ListStat.astro'
import CardContactPerson from '@blocks/CardContactPerson.astro'
import ButtonMore from '@atoms/ButtonMore.astro'

const {
		tag = 'li',
		name,
		flag,
		office,
		contact,
		class: classes,
		...props
	} = Astro.props,
	Tag = tag,
	pastel = {
		ng: 'EEF8DD',
		zw: 'F5E7B2',
		cm: 'D2E0FB',
	}
---

<Tag
	class:list={['rounded-lg overflow-clip relative accordion', classes]}
	style=`background-color: #${pastel[flag]};`
	{...props}>
	<div
		class='group/button accordion__button cursor-pointer r-transition flex items-center justify-between h-[4.25rem] px-4'
		aria-expanded='false'
		aria-controls={`JEE ${name} Offices`}>
		<div class='flex items-center gap-3'>
			<Icon name={flag} class='size-10 shrink-0' />
			<Text
				tag='h3'
				text={name}
				color='title'
				size='copy'
				weight='medium'
			/>
		</div>
		<Icon
			name='chevron-down'
			aria-hidden='true'
			class='accordion__icon block w-4 text-[var(--color-text-body)] opacity-50 group-hover/button:opacity-100 shrink-0 transition-all group-[.is-active]:opacity-100'
		/>
	</div>
	<div
		class='accordion__content max-h-0 transition-all ease-in-out overflow-hidden'>
		<div
			class='pt-1 px-4 pb-4 flex flex-col gap-6 max-w-full transition-[height] duration-300'>
			<ListStat
				heading={office.content.tag}
				color='title'
				size='1hx'
				body={office.content.address}
				richtext
				uppercase={false}
			/>
			<CardContactPerson
				tag='span'
				link={contact.full_slug}
				image={contact.content.headshot}
				name={contact.content.name}
				designation={contact.content.byline[0]?.content?.title}
				email={contact.content.links[0].email[0]}
				phone={contact.content.links[0].phone[0]}
			/>
			<ButtonMore label={'All JEE Offices'} link={'/contact'} />
		</div>
	</div>
</Tag>
