---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'
import Meta from '@atoms/Meta.astro'
import Author from '@blocks/Author.astro'

const { piece, class: classes, ...props } = Astro.props
---

<a href={_slug(piece.full_slug)} class:list={['size-full', classes]} {...props}>
	<div class='rounded-bl-[1.5rem] rounded-br-[8rem] relative overflow-clip'>
		<Image
			filename={piece.content.image.filename}
			alt={piece.content.image.alt}
			filter
			class:list={[
				'h-[15.5rem] transition-transform duration-200 lg:group-hover:scale-110',
			]}
		/>
	</div>
	<div class:list={['pt-4 pr-4 space-y-3']}>
		<Meta info={piece.content} />
		<div class='flex flex-col h-full justify-between'>
			<Text
				tag='h3'
				text={piece.content.title}
				color='title'
				size='6'
				family='display'
				weight='semi'
			/>
			<!-- <Author source={piece.content.author} /> -->
		</div>
	</div>
</a>
