---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import Byline from '@blocks/Byline.astro'
import Meta from '@atoms/Meta.astro'
import Author from '@blocks/Author.astro'
import FormattedDate from '@atoms/FormattedDate.astro'
import _slugify from '@scripts/slugify'
import ListBullet from '@blocks/ListBullet.astro'
import _formatDate from '@scripts/format-date'
import ButtonMore from '@atoms/ButtonMore.astro'
import Chip from '@atoms/Chip.astro'

const { entry, class: classes, ...props } = Astro.props
const image = entry.featured_image
	? entry.featured_image.filename
	: entry.content.image.filename
const altText = entry.featured_image
	? entry.featured_image.alt
	: entry.content.image.alt
---

<a
	href={_slug(entry.full_slug)}
	class:list={[
		'r-hide-overflow overflow-y-clip group flex flex-col md:flex-row h-full md:h-[32rem] bg-parchment-100 rounded-3xl p-2',
		classes,
	]}
	{...props}>
	<div
		class='order-2 md:order-1 px-2 sm:px-4 py-6 sm:py-7 md:px-8 md:py-10 w-full min-h-[14rem] gap-y-4'>
		<div class='flex flex-col gap-5 md:gap-8 pr-4'>
			<Text
				tag='h3'
				text={entry.content.title}
				color='title'
				size='4'
				weight='extra'
                class='line-clamp-4'
			/>
			<div class='flex flex-col gap-1.5 md:gap-2 lg:pr-12'>
				<ListBullet icon='map-pin' text={entry.content.venue} />
				<ListBullet
					icon='calendar'
					text={_formatDate(entry.content.start_date)}
				/>
				<ListBullet icon='clock' text={entry.content.time} />
			</div>
			<ButtonMore tag='span' label={entry.content.index_link_label} />
		</div>
        <Chip text={entry.content.type} class='absolute bottom-5 right-5 md:right-auto md:left-10 md:bottom-10'/>
	</div>
	<div
		class='w-full h-[32rem] md:h-full md:min-w-[28rem] md:max-w-[28rem] rounded-tl-[2rem] rounded-br-[1.5rem] rounded-tr-[2rem] rounded-bl-[10rem] order-1 md:order-2 overflow-clip'>
		<Image
			filename={image}
			alt={altText}
			filter
			class:list={[
				'transition-transform duration-200 group-hover:scale-110 h-full',
			]}
		/>
	</div>
</a>
