---
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import { _capitalize } from '@scripts/snips'

const { link, entry, tag = 'a', class: classes, ...props } = Astro.props,
	Tag = tag
---

<Tag
	{...link ? { href: `/${_slug(link)}` } : {}}
	class:list={[
		'flex items-center w-full sm:w-[18.5rem] lg:w-[19.5rem] xl:w-[19rem] h-26 bg-[var(--color-bg-default-elevated)] p-1 rounded-xl group',
		classes,
	]}
	{...props}>
	<div
		class='rounded-tl-lg rounded-bl-lg rounded-tr-2xl rounded-br-[3rem] overflow-clip w-[6rem] h-full shrink-0'>
		<Image
			filename={entry.content?.image.filename}
			alt={entry.content?.image.alt}
			filter
			class:list={[
				'size-full group-hover:scale-110 transition-transform duration-200',
			]}
		/>
	</div>
	<div class='px-4 flex flex-col gap-1'>
		<Text
			text={`JEE ${_capitalize(entry.content.component)}s`}
			color='emphasis'
			size='blurb'
			family='display'
			weight='medium'
		/>
		<Text
			text={entry.content.title}
			color='title'
			size='emphasis'
			family='display'
			weight='bold'
            class="line-clamp-2"
		/>
	</div>
</Tag>