---
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'
import { _capitalize } from '@scripts/snips'

const {
		link,
		entry,
		tag = 'a',
		subtitle,
		subtitleColor = 'caption',
		adjustWidth = true,
		fill = true,
		top,
		contain,
		class: classes,
		...props
	} = Astro.props,
	Tag = tag
---

<Tag
	{...link ? { href: `/${_slug(link)}` } : {}}
	class:list={[
		'flex items-center w-full h-[6.0775rem] rounded-xl group r-hide-overflow overflow-y-clip',
		adjustWidth ? 'sm:w-[calc(50%-1rem)]' : 'max-w-[23rem]',
		fill && 'bg-[var(--color-bg-default-elevated)] p-1',
        link && 'hover:bg-[var(--color-bg-default-elevated)]',
		classes,
	]}
	{...props}>
	<div
		class='rounded-tl-lg rounded-bl-lg rounded-tr-2xl rounded-br-[3rem] overflow-clip w-[5.65rem] h-full shrink-0 bg-[var(--color-bg-default-elevated)]'>
		<Image
			filename={entry.content?.image
				? entry.content?.image.filename
				: entry.content.headshot.filename}
			alt={entry.content?.image
				? entry.content?.image.alt
				: entry.content.headshot.alt}
			filter
			top={top}
			contain={contain}
			class:list={[
				'size-full',
				link &&
					'group-hover:scale-105 transition-transform duration-200',
			]}
		/>
	</div>
	<div class='px-3 flex flex-col gap-1'>
		<Text
			text={entry.content.title
				? entry.content.title
				: entry.content.name
					? entry.content.name
					: entry.name}
			color='title'
			size='1hx'
			family='display'
			weight='bold'
			class='line-clamp-3'
		/>
		{
			link && (
				<Text
					text={subtitle}
					color={subtitleColor}
					size='footnote'
					family='display'
					weight='semi'
				/>
			)
		}
	</div>
	{
		link && (
			<div class='fixed bottom-0 right-0 translate-y-4 opacity-0 transition duration-200 group-hover:translate-y-0 group-hover:opacity-100'>
				<Icon
					name='cutout-up'
					class='w-[10rem] text-[var(--color-emphasis)] absolute -right-[4.5rem] -bottom-[2.8rem]'
				/>
				<Icon
					name='arrow-right'
					class='size-5 text-white absolute right-3 bottom-2 z-10'
				/>
			</div>
		)
	}
</Tag>