---
import ButtonMore from '@atoms/ButtonMore.astro'
import Icon from '@atoms/Icon.astro'
import Image from '@atoms/Image.astro'
import Text from '@atoms/Text.astro'
import _slug from '@scripts/slug'

const { piece, class: classes, ...props } = Astro.props
---

<a
	href={_slug(piece.full_slug)}
	class:list={['size-full group', classes]}
	{...props}>
	<div class='relative overflow-clip grid grid-cols-1'>
		<div
			class='rounded-tl-[2rem] rounded-tr-[3.5rem] rounded-bl-[2rem] rounded-br-[9rem] relative overflow-clip [grid-area:1/1/2/2] h-[22rem] sm:h-[23rem] lg:h-[20rem]'>
			<Image
				filename={piece.content.image.filename}
				alt={piece.content.image.alt}
				filter
				class:list={[
					'size-full transition-transform duration-200 group-hover:scale-110',
				]}
			/>
		</div>
		<div
			class='[grid-area:1/1/2/2] mt-[12rem] ml-4 mr-4 sm:ml-5 sm:mr-7 lg:ml-6 lg:mr-8 z-10'>
			<div
				class='bg-[var(--color-bg-default)] rounded-[1.5rem] min-h-[12rem] p-4 sm:p-5 md:p-6 space-y-1.5'>
				<div>
					<Text
                        tag="h3"
						size='2hx'
						text={piece.content.title}
						color='title'
						weight='bold'
						family='display'
					/>
					<Icon
						name='highlight'
						class='fix-svg-stroke w-8 text-[var(--color-text-emphasis)] opacity-0 translate-y-2 group-hover:opacity-100 group-hover:translate-y-0.5 transition duration-200'
					/>
				</div>
				<div class='pr-2 sm:pr-3'>
					<Text
						tag='p'
						size='body'
						text={piece.content.excerpt}
						color='body'
						family='display'
						class='line-clamp-4'
					/>
				</div>
			</div>
		</div>
	</div>
</a>
