---
import ButtonLink from '@atoms/ButtonLink.astro'
import InputCheck from '@atoms/InputCheck.astro'
import InputText from '@atoms/InputText.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import _slugify from '@scripts/slugify'

const { topics, formId, formAction, class: classes, ...props } = Astro.props
---

<HeadingStretch tag='h2' text='Subscribe to JEE Insights' />
<form>
	<div class='grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-5'>
		<InputText
			label='Name'
			id='name'
			name='Name'
			placeholder='Your Full Name'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-1'
		/>
		<InputText
			label='Email'
			id='email'
			name='Email'
			placeholder='Email Address'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-1'
		/>
		<InputText
			label='Organization'
			id='org'
			name='Organization'
			placeholder='Your Organization'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-2'
		/>
		<div class='col-span-full space-y-3 my-4'>
			<HeadingSection
				text={'Topics of Interest'}
				level='h4'
				size='6'
				padding='small'
			/>
			{
				topics.map((i) => (
					<InputCheck
						label={i.content.title}
						id={_slugify(i.content.title)}
						name={'Categories'}
						checked
					/>
				))
			}
		</div>
        <ButtonLink tag="button" label="Subscribe" type="submit"/>
	</div>
</form>
