---
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'

const { heading, uppercase = true, size = '6', body, richtext, color = 'body', class: classes, ...props } = Astro.props
---

<div class:list={['flex flex-col gap-1', classes]} {...props}>
	<Text
		tag='p'
		text={heading}
		size={size}
		weight='medium'
		color={color}
		uppercase={uppercase}
		loosen={uppercase}
	/>
	{
        richtext ? (
            <RichText text={body} pType='blurb' />
        ) : (
            <Text
                tag='p'
                text={body}
                size='blurb'
                color='caption'
            />
        )
    }
</div>
