---
import Icon from '@atoms/Icon.astro'
import NavItem from '@atoms/NavItem.astro'
import NavLink from '@atoms/NavLink.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'
import NavDropdown from '@blocks/NavDropdown.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul class:list={[classes, 'items-center h-full']} {...props}>
	{
		links.map((link) => (
			<li class='group/li relative'>
				{_empty(link.link.cached_url) ? (
                    <NavItem
                        tag='button'
                        aria-label={`${link.label} Pages Dropdown`}>
                        <NavLink
                            link={link}
                            children={!_empty(link.children)}
                        />
                    </NavItem>
                    // <NavDropdown>
                    //     <Expertise links={link.children} />
                    //     <Insights class='hidden' />
                    // </NavDropdown>
				) : (
					<NavItem
						href={_slug(link.link)}
						data-anchor={_slugify(link.link.story.full_slug)}
						aria-label={`${link.label} Page`}>
						<NavLink link={link} />
					</NavItem>
				)}
			</li>
		))
	}
</ul>
