---
import NavItem from '@atoms/NavItem.astro'
import NavLink from '@atoms/NavLink.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import HeadingSection from '@blocks/HeadingSection.astro'
import NavDropdownLink from '@atoms/NavDropdownLink.astro'

const { links, class: classes, ...props } = Astro.props
---

<li
	class:list={['grid grid-cols-3 gap-10 max-w-screen-md', classes]}
	{...props}>
	{
		links.map((i) => (
			<ul>
				<li class='space-y-4'>
					<HeadingSection text={i.label} size='2hx' padding='small' />
					<ul class='flex flex-col'>
						<li class='group/list'>
							<NavDropdownLink
								href={`/${i.children[0].link.cached_url.split('/')[0]}`}
								data-anchor={_slugify(
									i.children[0].link.cached_url.split('/')[0],
								)}
								aria-label={`JEE ${i.label}`}
								label={`All ${i.label}`}
								class='font-semibold !text-base'
							/>
						</li>
						{i.children.map((j) => (
							<li class='group/list'>
								<NavDropdownLink
									href={_slug(j.link)}
									data-anchor={_slugify(j.link.cached_url)}
									aria-label={`${j.label} Page`}
									label={j.label}
								/>
							</li>
						))}
					</ul>
				</li>
			</ul>
		))
	}
</li>
