---
import Grid from '@layouts/Grid.astro'
import Wrapper from '@layouts/Wrapper.astro'
import TitleHidden from './TitleHidden.astro'
import NavItemMobile from '@atoms/NavItemMobile.astro'
import Text from '@atoms/Text.astro'
import Icon from '@atoms/Icon.astro'
import NavMobileLink from '@atoms/NavMobileLink.astro'
import { _empty } from '@scripts/utils/empty'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _unslash from '@scripts/unslash'
import { _getSettings } from '@scripts/data/get-settings'

const { class: classes, ...props } = Astro.props
const settingsData = await _getSettings()
const site = settingsData.data.story.content
const nav = site.nav
const hub = site.tools[2]
---

<Wrapper tag='nav' margins={false} class='py-4 sm:py-8 overflow-auto'>
	<TitleHidden tag='h2' title={'Mobile Navigation'} />
	<Grid grid='4-12-12'>
		<ul
			class:list={[
				'col-span-full ml:[grid-area:1/3/2/11] items-center h-full [&>*]:border-t [&>*]:border-[var(--color-muted-dark)] [&>*:first-child]:border-t-0',
				classes,
			]}
			{...props}>
			{
				nav.map((i) =>
					_empty(i.children) ? (
						<li class:list={['group/li relative']}>
							<NavItemMobile
								href={_slug(i.link)}
								label={i.label}
							/>
						</li>
					) : (
						<li
							class:list={[
								'group/li relative accordion group [&.is-active]:bg-[var(--color-elevation-1-inverted)]',
							]}>
							<div
								class='group/button accordion__button r-transition flex items-center justify-between px-4 py-[1.25rem] cursor-pointer'
								aria-expanded='false'
								aria-controls={`${i.label} Links`}>
								<Text
									text={i.label}
									size='5'
									color='title-light'
									weight='bold'
									class='opacity-100 group-hover/button:opacity-70 group-[.is-active]:opacity-100 pointer-events-none'
								/>
								<Icon
									name='caret-down'
									aria-hidden='true'
									class='accordion__icon block w-5 text-[var(--color-lightest)] opacity-50 group-hover/button:opacity-100 shrink-0 transition-all group-[.is-active]:opacity-100'
								/>
							</div>
							<div class='accordion__content max-h-0 lg:max-h-full overflow-hidden lg:overflow-auto transition-all ease-in-out'>
								<ul class='px-4 flex flex-col max-w-full transition-[height] duration-300'>
									{i.children.map((j) => (
										<li class='group/link flex items-center'>
											<NavMobileLink
												altLink={
													j.link.linktype === 'story'
														? _slugify(
																i.label,
															).includes(
																'expertise',
															)
															? `/${j.children[0].link.cached_url.split('/')[0]}`
															: `/${_unslash(j.link.cached_url)}`
														: _unslash(
																j.link
																	.cached_url,
															)
												}
												label={j.label}
												target={j.link.target}
											/>
										</li>
									))}
									{/* <li class='group/link flex items-center'>
										<NavMobileLink
											altLink={'/ip'}
											label={'Africa IP Practice'}
											target={'_self'}
										/>
									</li> */}
								</ul>
							</div>
						</li>
					),
				)
			}
			<li
				class='accordion group [&.is-active]:bg-[var(--color-elevation-1-inverted)]'>
				<div
					class='group/button accordion__button r-transition flex items-center justify-between px-4 py-[1.25rem] cursor-pointer'
					aria-expanded='false'
					aria-controls={`${hub.label} Links`}>
					<Text
						text={hub.label}
						size='5'
						color='title-light'
						weight='bold'
						class='opacity-100 group-hover/button:opacity-70 group-[.is-active]:opacity-100 pointer-events-none'
					/>
					<Icon
						name='caret-down'
						aria-hidden='true'
						class='accordion__icon block w-5 text-[var(--color-lightest)] opacity-50 group-hover/button:opacity-100 shrink-0 transition-all group-[.is-active]:opacity-100'
					/>
				</div>
				<div
					class='accordion__content max-h-0 lg:max-h-full overflow-hidden lg:overflow-auto transition-all ease-in-out'>
					<ul
						class='px-4 flex flex-col max-w-full transition-[height] duration-300'>
						{
							hub.children.map((i) => (
								<li class='group/link flex items-center'>
									<NavMobileLink link={i} />
								</li>
							))
						}
					</ul>
				</div>
			</li>
		</ul>
	</Grid>
</Wrapper>
