---
import Icon from '@atoms/Icon.astro'
import ButtonFlat from '@atoms/ButtonFlat.astro'
import _slug from '@scripts/slug'
import _slugify from '@scripts/slugify'
import _empty from '@scripts/empty'
import ButtonFab from '@atoms/ButtonFab.astro'
import NavDropdownLink from '@atoms/NavDropdownLink.astro'
import NavDropdown from '@blocks/NavDropdown.astro'

const { links, class: classes, ...props } = Astro.props
---

<ul
	class:list={[
		classes,
		'flex items-center justify-end gap-2 sm:gap-3 translate-x-1 sm:translate-x-2 lg:translate-x-0',
	]}
	{...props}>
	<li class='hidden lg:flex group/li relative'>
		<ButtonFlat link={links[2]} />
		<NavDropdown child='client-hub' links={links[2].children} />
	</li>
	<li class='flex items-center lg:items-start gap-2 sm:gap-3 lg:gap-1'>
		<ButtonFab
			link={links[1]}
			icon='africa'
			class='order-2 lg:order-1'
			data-drawer-trigger='regions'
			data-display='regions'
		/>
		<ButtonFab
			style='blank'
			link={links[0]}
			label={links[0].label}
			icon='search'
			class='order-1 lg:order-2'
			data-drawer-trigger='search'
			data-display='search'
		/>
	</li>
	<li class='h-full w-11 flex lg:hidden items-center justify-center relative'>
		<ButtonFab
			style='blank-brand'
			label='Open Mobile Menu'
			icon='menu'
			data-open-menu
		/>
	</li>
</ul>
