---
import ButtonLink from '@atoms/ButtonLink.astro'
import Icon from '@atoms/Icon.astro'
import InputCheck from '@atoms/InputCheck.astro'
import InputText from '@atoms/InputText.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import _slugify from '@scripts/slugify'
import { _newsletter } from '@scripts/store'

const { topics, formId, formAction, class: classes, ...props } = Astro.props,
	newsletter = _newsletter.value.global[0],
	title = newsletter.title,
	id = newsletter.component,
	success = newsletter.success_message,
	error = newsletter.error_message,
	source = newsletter.message_source
---

<HeadingStretch tag='h2' text={title} />
<form
	id={id}
	form-id='D3RkCfHwg'
	data-form-success={success}
	data-form-error={error}
	data-message-source={source}>
	<div class='grid grid-cols-1 md:grid-cols-2 gap-x-3 gap-y-5'>
		<InputText
			label='Name'
			id='name'
			name='Name'
			placeholder='Your Full Name'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-1'
		/>
		<InputText
			label='Email'
			id='email'
			name='Email'
			placeholder='Email Address'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-1'
		/>
		<InputText
			label='Organization'
			id='org'
			name='Organization'
			placeholder='Your Organization'
			required
			useShadow
			hideLabel={false}
			class='w-full md:col-span-2'
		/>
		<div class='col-span-full space-y-3 my-4'>
			<HeadingSection
				text={'Topics of Interest'}
				level='h4'
				size='6'
				padding='small'
			/>
			{
				topics.map((i) => (
					<InputCheck
						label={i.content.title}
						id={_slugify(i.content.title)}
						name={i.content.title}
						checked
					/>
				))
			}
		</div>
		<ButtonLink
			tag='button'
			label='Subscribe'
			type='submit'
			iconRight
			icon='paper-plane'
			data-form-submit
		/>
	</div>
</form>

