---
import { _sectionPadding } from '@scripts/snips'
import TitleHidden from '@blocks/TitleHidden.astro'
import ButtonFab from '@atoms/ButtonFab.astro'
import { _paginateLink } from '@scripts/pagination'

type Props = {
	total: number
	size: number
	current: number
	ariaLabel?: string
}

const { ariaLabel = 'Pagination', ...attrs } = Astro.props
const { total, size, current } = Astro.props,
	numberOfPages = Math.ceil(total / size)
const { href } = Astro.url
---

{
	numberOfPages > 1 && (
		<nav
			aria-label={ariaLabel}
			{...attrs}
			class:list={['flex items-center w-full', _sectionPadding('top')]}>
			<TitleHidden tag='h2' title={ariaLabel} />
			<ul class='flex items-center w-full justify-center lg:justify-start gap-4'>
				{current > 1 && (
					<li>
						<a
							href={_paginateLink(href, current - 1)}
							aria-label={`Go to page ${current - 1} of ${numberOfPages}`}>
							<ButtonFab
								tag='span'
								size='large'
								label={`Go to page ${current - 1} of ${numberOfPages}`}
								icon='arrow-left'
							/>
						</a>
					</li>
				)}

				<li>
					<ul class='flex items-center gap-4'>
						{Array(numberOfPages)
							.fill(0)
							.map((_, index) => (
								<li class='page [&>a[aria-current="page"]]:bg-[var(--color-emphasis)] [&>a]:rounded-full [&>a[aria-current="page"]]:text-white [&>a:not([aria-current="page"])]:hover:bg-[var(--color-bg-default-elevated)]'>
									<a
										href={_paginateLink(href, index + 1)}
										aria-current={
											index + 1 === current
												? 'page'
												: undefined
										}
										class='flex h-12 w-12 items-center justify-center relative'>
										{index + 1}
									</a>
								</li>
							))}
					</ul>
				</li>

				{current < numberOfPages && (
					<li>
						<a
							href={_paginateLink(href, current + 1)}
							aria-label={`Go to page ${current + 1} of ${numberOfPages}`}>
							<ButtonFab
								tag='span'
								size='large'
								label={`Go to page ${current + 1} of ${numberOfPages}`}
								icon='arrow-right'
							/>
						</a>
					</li>
				)}
			</ul>
		</nav>
	)
}
