---
import { _sectionPadding } from '@scripts/snips'
import TitleHidden from '@blocks/TitleHidden.astro'
import ButtonFab from '@atoms/ButtonFab.astro'
import { _paginateLink, _truncatesPagination } from '@scripts/pagination'

const { ariaLabel = 'Pagination', ...attrs } = Astro.props
const { total, size, current } = Astro.props,
	numberOfPages = Math.ceil(total / size)
const { href } = Astro.url
const truncatedPagination = _truncatesPagination(numberOfPages, current)
---

{
	numberOfPages > 1 && (
		<nav
			aria-label={ariaLabel}
			{...attrs}
			class:list={['flex items-center w-full', _sectionPadding('top')]}>
			<TitleHidden tag='h2' title={ariaLabel} />
			<ul class='flex items-center w-full justify-center lg:justify-start gap-0.5 sm:gap-3'>
				{current > 1 && (
					<li>
						<a
							href={_paginateLink(href, current - 1)}
							aria-label={`Go to page ${current - 1} of ${numberOfPages}`}>
							<ButtonFab
								tag='span'
								size='large'
								label={`Go to page ${current - 1} of ${numberOfPages}`}
								icon='arrow-left'
							/>
						</a>
					</li>
				)}

				<li>
					<ul class='flex items-center gap-1.5 sm:gap-3'>
						{truncatedPagination.map((number, index) => (
							<li class='page [&>a[aria-current="page"]]:bg-(--color-emphasis) [&>a]:rounded-full [&>a[aria-current="page"]]:text-white [&>a:not([aria-current="page"])]:hover:bg-(--color-bg-default-elevated)'>
								{typeof number === 'object' ? (
									<p>{number.text}</p>
								) : (
									<a
										href={_paginateLink(href, number)}
										aria-current={
											number === current
												? 'page'
												: undefined
										}
										class='flex h-10 w-10 items-center justify-center relative'>
										{number}
									</a>
								)}
							</li>
						))}
					</ul>
				</li>

				{current < numberOfPages && (
					<li>
						<a
							href={_paginateLink(href, current + 1)}
							aria-label={`Go to page ${current + 1} of ${numberOfPages}`}>
							<ButtonFab
								tag='span'
								size='large'
								label={`Go to page ${current + 1} of ${numberOfPages}`}
								icon='arrow-right'
							/>
						</a>
					</li>
				)}
			</ul>
		</nav>
	)
}
