---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _odd, _xPadding } from '@scripts/snips'
import CardValue from '@blocks/CardValue.astro'
import CardValueV2 from '@blocks/CardValueV2.astro'
import { _odd, _spaceY } from '@scripts/snips'
import _slugify from '@scripts/slugify'

const { blok, class: classes, ...props } = Astro.props
const values = blok.values
const { pathname } = Astro.url
const isAbout = pathname === '/about'
const isCareers = pathname === '/careers'
---

<Section
	component={blok.component}
	overlap={blok.overlap}
	id={_slugify(blok.heading)}>
	<Wrapper margins={false}>
		<Grid>
			<div class:list={['col-span-full', _spaceY()]}>
				<div
					class:list={[
						blok.is_standalone
							? _xPadding('both')
							: _xPadding('both-lg-down-l'),
					]}>
					<HeadingSection
						level='h3'
						text={blok.heading}
						size='4'
						hasCarouselControls
					/>
				</div>
				<div
					class:list={[
						blok.is_standalone
							? _xPadding('left')
							: _xPadding('left-lg-down-l'),
					]}>
					<div class:list={['swiper swiper-all']}>
						<ul class='swiper-wrapper'>
							{
								values.map(
									(
										{ title, description, image = null },
										x,
									) => (
										<li class='swiper-slide !w-auto'>
											{isCareers ? (
												<CardValue
													title={title}
													description={description}
													image={image}
													facing={
														_odd(x + 1)
															? 'west'
															: 'east'
													}
												/>
											) : isAbout ? (
												<CardValueV2
													title={title}
													description={description}
													image={image}
												/>
											) : null}
										</li>
									),
								)
							}
						</ul>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
