---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _gridGap, _sectionPadding } from '@scripts/snips'
import Image from '@atoms/Image.astro'

const { blok, class: classes, ...props } = Astro.props,
	quotes = blok.quotes
---

<Section component={blok.component} title={blok.heading} overlap={blok.overlap}>
	<Wrapper margins={false}>
		<Grid>
			<div
				class='col-span-full'>
				<Image
					filename={blok.image.filename}
					alt={blok.image.alt}
					class:list={[
						'h-[24.5rem] sm:h-[32.5rem] md:h-[37.5rem]',
					]}
				/>
			</div>
		</Grid>
	</Wrapper>
</Section>
