---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import BlockBentoBasic from '@blocks/BlockBentoBasic.astro'
import BlockBentoPlaques from '@blocks/BlockBentoPlaques.astro'
import BlockBentoHighlights from '@blocks/BlockBentoHighlights.astro'
import { _gridGap, _sectionPadding } from '@scripts/snips'
import Image from '@atoms/Image.astro'
import Quote from '@blocks/Quote.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} title={blok.heading} class=''>
	<Wrapper margins={false}>
		<Grid>
			<div
				class='col-span-full md:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/7]'>
				<Image
					filename={blok.image.filename}
					alt={blok.image.alt}
					top
					class:list={[
						'h-[25rem] sm:h-[32rem] md:h-[37.5rem] lg:h-[40rem] rounded-br-[128px] md:rounded-br-[224px] lg:rounded-br-[320px] rounded-tr-3xl md:rounded-tr-[64px] lg:rounded-tr-[72px]',
					]}
				/>
			</div>
			<div
				class='col-span-full md:[grid-area:1/5/2/9] lg:[grid-area:1/7/2/13]'>
				<div
					class:list={[
						_sectionPadding('both'),
						'px-5 sm:px-8 lg:px-10 xl:px-18',
					]}>
					<div>
						<ul class=''>
							{
								blok.quotes.map((quote) => (
									<li class=''>
										<Quote quote={quote.quote} />
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
