---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import RichText from '@atoms/RichText.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component}>
	<Wrapper padX={false} margins={false}>
		<Grid
			class:list={[
				'gap-y-5 md:gap-y-12 lg:gap-y-14',
				blok.is_alternate && 'lg:pl-8 xl:pl-18 2xl:pr-18',
			]}>
			<div
				class:list={[
					'[grid-area:1/1/2/5]',
					blok.is_alternate
						? 'md:[grid-area:1/2/2/9] lg:[grid-area:1/5/2/13]'
						: '',
				]}>
				<img
					src={blok.image.filename}
					alt={blok.image.title}
					class:list={[
						'object-cover w-full h-[25rem] sm:h-[30rem] md:h-[35rem] lg:h-[40rem]',
						blok.is_alternate
							? 'md:rounded-tl-[56px] lg:rounded-tl-[64px] 2xl:rounded-[64px]'
							: '',
					]}
				/>
			</div>
			<div
				class:list={[
					'[grid-area:1/1/2/5] pt-[20rem] md:pt-[22rem] lg:pt-[22rem] px-3 lg:px-0',
					blok.is_alternate
						? 'md:[grid-area:1/1/2/6] lg:[grid-area:1/1/2/7]'
						: '',
				]}>
				<div
					class='bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-[32px] p-4 md:p-8 lg:p-12'>
					<div>
						<Text
							tag='h2'
							text={blok.heading}
							color='title'
							size='5'
							family='display'
							weight='extra'
							tighten
							class=''
						/>
					</div>
					<RichText text={blok.text} />
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
