---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import RichText from '@atoms/RichText.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _empty } from '@scripts/utils/empty'
import Image from '@atoms/Image.astro'
import _slugify from '@scripts/slugify'

const { blok, class: classes, ...props } = Astro.props
---

<Section
	component={blok.component}
	overlap={blok.overlap}
	id={blok.is_hashed ? _slugify(blok.heading) : _slugify(blok.component)}>
	<Wrapper marginsMd>
		<Grid class:list={['gap-y-5 md:gap-y-12 lg:gap-y-14']}>
			<div
				class:list={[
					'[grid-area:1/1/2/5]',
					blok.is_alternate
						? 'md:[grid-area:1/2/2/9] lg:[grid-area:1/5/2/13]'
						: 'md:[grid-area:1/1/2/8] lg:[grid-area:1/1/2/9]',
				]}>
				<Image
					filename={blok.image.filename}
					alt={blok.image.title}
					class:list={[
						'h-[23rem] sm:h-[30rem] md:h-[35rem] lg:h-[41rem] rounded-t-[1.5rem] md:rounded-[1.5rem] lg:rounded-[3rem]'
					]}
				/>
			</div>
			<div
				class:list={[
					'[grid-area:1/1/2/5] pt-[18rem] md:pt-[16rem] px-4 lg:px-0 z-10',
					blok.is_alternate
						? 'md:[grid-area:1/1/2/6] lg:[grid-area:1/1/2/7]'
						: 'md:[grid-area:1/4/2/9] lg:[grid-area:1/7/2/13]',
				]}>
				<div
					class='bg-(--color-bg-default-elevated) rounded-2xl md:rounded-[32px] p-4 md:p-8 lg:p-12 flex flex-col gap-y-4 lg:gap-y-6'>
					<HeadingSection text={blok.heading} level='h2' size='5' />
					<RichText text={blok.text} pType='body' color='title' />
					{
						!_empty(blok.action) && (
							<ButtonLink
								link={blok.action[0].link}
								label={blok.action[0].label}
								class='my-3'
							/>
						)
					}
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
