---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import { _sectionPadding } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import RichText from '@atoms/RichText.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import _empty from '@scripts/empty'
import Image from '@atoms/Image.astro'
import FormattedDate from '@atoms/FormattedDate.astro'
import Author from '@blocks/Author.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component}>
	<Wrapper margins={false}>
		<Grid
			class:list={[
				'gap-y-5 md:gap-y-12 lg:gap-y-14',
				blok.is_alternate
					? 'lg:pl-8 xl:pl-18 2xl:pr-18'
					: 'lg:pr-8 xl:pr-18 2xl:pl-18',
			]}>
			<div
				class:list={[
					'[grid-area:1/1/2/5]',
					blok.is_alternate
						? 'md:[grid-area:1/2/2/9] lg:[grid-area:1/5/2/13]'
						: 'md:[grid-area:1/1/2/8] lg:[grid-area:1/1/2/9]',
				]}>
				<Image
					filename={blok.insight.content.image.filename}
					alt={blok.insight.content.image.title}
					class:list={[
						'h-[25rem] sm:h-[31rem] md:h-[37.5rem] lg:h-[41rem] rounded-t-[1.5rem] 2xl:rounded-[64px]',
						blok.is_alternate
							? 'md:rounded-tr-none md:rounded-tl-[56px] lg:rounded-tl-[64px]'
							: 'md:rounded-tl-none md:rounded-tr-[56px] lg:rounded-tr-[64px]',
					]}
				/>
			</div>
			<div
				class:list={[
					'[grid-area:1/1/2/5] pt-[18rem] md:pt-[16rem] lg:pt-[14rem] px-2 sm:px-3 lg:px-0 z-10',
					blok.is_alternate
						? 'md:[grid-area:1/1/2/6] lg:[grid-area:1/1/2/7]'
						: 'md:[grid-area:1/4/2/9] lg:[grid-area:1/7/2/13]',
				]}>
				<div
					class='bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-[32px] p-4 md:p-8 lg:p-12 flex flex-col gap-y-4 lg:gap-y-6 min-h-96 md:min-h-[30rem]'>
					<HeadingSection text={blok.heading} level='h2' size='5' />
					<div class='flex flex-col gap-4 md:gap-y-6 lg:gap-y-8'>
						<div class='flex flex-col gap-y-4'>
							<Text
								text={blok.insight.content.title}
								color='title'
								size='4'
								family='display'
								weight='bold'
								tighten
							/>
							<Text
								text={blok.insight.content.excerpt}
								color='body'
								size='body'
								family='display'
								class='line-clamp-4 md:pr-4'
							/>
						</div>
						<div class='flex flex-col gap-1.5'>
                            <Author source={blok.insight}/>
							<FormattedDate
								dateString={blok.insight.content.published_date}
							/>
						</div>
					</div>
					{
						!_empty(blok.action) && (
							<ButtonLink
								link={`/${blok.insight.full_slug}`}
								label={blok.action}
								class='my-3'
							/>
						)
					}
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
