---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import {
	_gridGap,
	_odd,
	_sectionPadding,
	_spaceY,
	_xPadding,
	_blockGap,
} from '@scripts/snips'
import _slugify from '@scripts/slugify'
import HeadingStretch from '@blocks/HeadingStretch.astro'
import RichText from '@atoms/RichText.astro'
import ButtonLinkExternal from '@atoms/ButtonLinkExternal.astro'
import { _empty } from '@scripts/utils/empty'

const { blok, class: classes, ...props } = Astro.props
const jobs = blok?.jobs
---

<Section
	component={blok.component}
	overlap={blok.overlap}
	id={_slugify(blok.heading)}>
	<Wrapper>
		<div
			class='bg-[var(--color-bg-default-elevated)] rounded-2xl md:rounded-[1.5rem] px-4 sm:px-6 md:px-12 py-6 sm:py-8 md:py-10 lg:py-[4.5rem]'>
			<HeadingSection level='h3' text={blok.heading} size='4' />
			<ul class:list={['py-8 ml:py-10', _blockGap('y')]}>
				{
					jobs.map(({ content }) => (
						<Grid tag='li' grid='4-12-12' class:list={['pb-4', _gridGap()]}>
							<div
								class:list={[
									'col-span-full ml:[grid-area:1/1/2/4] flex flex-col gap-8 md:flex-row md:flex-wrap md:gap-10',
								]}>
								<HeadingStretch
									tag='h4'
									text={content.title}
									class='min-w-[12rem] max-w-[13rem]'
								/>
							</div>
							<div
								class:list={[
									'col-span-full ml:[grid-area:1/4/2/13] ml:grid ml:grid-cols-2 ml:gap-10 -mt-1'
								]}>
								<RichText
									text={content.description}
									pType='body'
								/>
								<ul class="space-y-4 mt-4 ml:mt-0">
									{content.links.map(({ link, label }) => (
										<ButtonLinkExternal
											link={link.cached_url}
											label={label}
										/>
									))}
								</ul>
							</div>
						</Grid>
					))
				}
			</ul>
		</div>
	</Wrapper>
</Section>
