---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import { _gridGap } from '@scripts/snips'
import Icon from '@atoms/Icon.astro'
import Text from '@atoms/Text.astro'
import ButtonLink from '@atoms/ButtonLink.astro'
import ButtonMore from '@atoms/ButtonMore.astro'
import BrandCutout from '@atoms/BrandCutout.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section
	component={blok.component}
	class='relative [transform:translateZ(0)] overflow-x-clip min-h-[23rem] md:min-h-[20rem] lg:min-h-[25rem] bg-[var(--color-bg-default)]'>
	<Wrapper>
		<Grid class:list={[_gridGap('y'), '']}>
			<div
				class='col-span-full md:[grid-area:1/1/2/6] lg:[grid-area:1/1/2/8] flex flex-col gap-y-3 md:gap-y-4 lg:gap-y-6'>
				<Text
					tag='h2'
					text={blok.heading}
					color='title'
					size='3'
					family='display'
					weight='extra'
				/>
				<Text
					text={blok.copy}
					color='body'
					size='1hx'
					family='display'
					weight='medium'
				/>
			</div>
			<div
				class='col-span-full md:[grid-area:1/6/2/9] lg:[grid-area:1/8/2/13] flex items-center gap-x-4 lg:gap-x-8'>
				<ButtonLink
					link={blok.link[0].link}
					label={blok.link[0].label}
				/>
				{
					blok.link[1] && (
						<ButtonMore
							link={blok.link[1].link}
							label={blok.link[1].label}
						/>
					)
				}
			</div>
		</Grid>
	</Wrapper>
	<BrandCutout/>
</Section>