---
import RichText from '@atoms/RichText.astro'
import Text from '@atoms/Text.astro'
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import _empty from '@scripts/empty'
import _slugify from '@scripts/slugify'
import { _sectionPadding, _xPadding } from '@scripts/snips'

const { blok, class: classes, ...props } = Astro.props
const post = blok.literature
const excerpt =
	post.content[0].type === 'paragraph'
		? post.content[0]?.content[0]?.text
		: ''
---

<Section
	component={blok.component}
	id={_slugify(blok.heading)}
	title={blok.heading}
	overlap>
	<Wrapper inset>
		<Grid class='auto-rows-min'>
			{
				!_empty(excerpt) && (
					<div class='col-span-full md:[grid-area:1/2/2/8] lg:[grid-area:1/3/2/11] md:text-center mb-8'>
						<Text tag='p' text={excerpt} color='body' size='2hx' />
					</div>
				)
			}
			<div
				class='col-span-full md:[grid-area:2/2/3/8] lg:[grid-area:2/3/3/11]'>
				<RichText text={post} post />
			</div>
		</Grid>
	</Wrapper>
</Section>
