---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import HeadingSection from '@blocks/HeadingSection.astro'
import { _odd, _xPadding } from '@scripts/snips'
import { _odd, _spaceY } from '@scripts/snips'
import CardInsight from '@blocks/CardInsight.astro'

const { blok, class: classes, ...props } = Astro.props,
	insights = blok.insights,
	collection = blok.collection[0]
---

<Section component={blok.component} overlap={blok.overlap}>
	<Wrapper margins={false}>
		<Grid>
			<div class:list={['col-span-full', _spaceY()]}>
				<div class:list={[_xPadding('both-lgdown-l')]}>
					<HeadingSection
						level='h2'
						text={blok.heading}
						size='4'
						isFromCollection
						label={collection.label}
						link={collection.link}
					/>
				</div>
				<div class:list={[_xPadding('left-lgdown-l')]}>
					<div class:list={['swiper swiper-all']}>
						<ul class='swiper-wrapper'>
							{
								insights.map((item, idx) => (
									<li class='swiper-slide !w-[20rem] !h-[24.5rem] group relative overflow-clip rounded-tl-[1.5rem] rounded-tr-[2rem]'>
										<CardInsight piece={item} />
									</li>
								))
							}
						</ul>
					</div>
				</div>
			</div>
		</Grid>
	</Wrapper>
</Section>
