---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import BlockBentoBasic from '@blocks/BlockBentoBasic.astro'
import BlockBentoPlaques from '@blocks/BlockBentoPlaques.astro'
import BlockBentoHighlights from '@blocks/BlockBentoHighlights.astro'

const { blok, class: classes, ...props } = Astro.props
---

<Section component={blok.component} title={blok.heading}>
	<Wrapper margins={false} marginsMd>
		<Grid>
			{
				blok.blocks.map((block) => {
					switch (block.component) {
						case 'block_bento_basic':
							return (
								<BlockBentoBasic
									{...block}
									block={block}
								/>
							)
						case 'block_bento_plaques':
							return (
								<BlockBentoPlaques
									{...block}
									block={block}
								/>
							)
						case 'block_bento_highlights':
							return (
								<BlockBentoHighlights
									{...block}
									block={block}
								/>
							)
						default:
							return null
					}
				})
			}
		</Grid>
	</Wrapper>
</Section>
