---
import Grid from '@layouts/Grid.astro'
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import { _xPadding, _gridGap, _spaceY } from '@scripts/snips'
import HeadingSection from '@blocks/HeadingSection.astro'
import RichText from '@atoms/RichText.astro'
import Number from '@atoms/Number.astro'
import _slugify from '@scripts/slugify'

const { blok, spy, class: classes, ...props } = Astro.props
---

<Section component={blok.component} id={_slugify(blok.heading)}>
	<Wrapper
		margins={false}
		class:list={[
			_xPadding('both-lgdown-l'),
			_gridGap('x'),
			_gridGap('y'),
			'grid grid-cols-4 md:grid-cols-8 lg:grid-cols-9',
		]}>
		<div
			class:list={[
				'col-span-full md:[grid-area:1/1/2/5] lg:[grid-area:1/1/2/6] lg:pr-4',
				_spaceY(),
			]}>
			<HeadingSection level='h3' text={blok.heading} size='4' />
			<RichText text={blok.body} pType='body' />
		</div>
		<div
			class='col-span-full md:[grid-area:1/5/2/9] lg:[grid-area:1/6/2/10] grid grid-cols-2 gap-x-4 md:gap-x-6 gap-y-8 md:gap-y-10 lg:gap-y-0'>
			{blok.highlights.map((h) => <Number number={h} />)}
		</div>
	</Wrapper>
</Section>
