---
import Section from '@layouts/Section.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
import { _xPadding, _sectionPadding } from '@scripts/snips'
import { _fontSize } from '@scripts/font-size'
import _slugify from '@scripts/slugify'
import SectionSelect from '@blocks/SectionSelect.astro'
import SectionSpy from '@blocks/SectionSpy.astro'

const { blok } = Astro.props,
	headings = blok.sections.map((section) => section.heading)
---

<Section
	component={blok.component}
	title={blok.heading}
	overlap
	spy
	class='r-hide-overflow overflow-y-clip z-20 bg-[var(--color-bg-default)] rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem]'>
	<Wrapper margins={false} class:list={['overflow-x-clip']}>
		<Grid
			class='rounded-t-[2rem] md:rounded-t-[3.5rem] lg:rounded-t-[4.5rem] overflow-clip'>
			<div
				class:list={[
					'col-span-full xl:[grid-area:1/1/2/3] self-start sticky bg-[var(--color-bg-default)] z-10 -top-px [&.is-pinned]:shadow xl:!shadow-none overflow-auto',
					_sectionPadding('top-xl-up'),
					_xPadding('both-lgdown'),
				]}
				data-pin-top>
				<SectionSpy headings={headings} data-spy-sections />
			</div>
			<div class='col-span-full xl:[grid-area:1/4/2/13]'>
				{
					blok.sections.map((blok) => {
						return <StoryblokComponent blok={blok} />
					})
				}
			</div>
		</Grid>
	</Wrapper>
</Section>
