---
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import { _settings } from '@scripts/store'
import Shim from '@blocks/Shim.astro'
import Modal from '@blocks/Modal.astro'
import ModalNewsletter from '@blocks/ModalNewsletter.astro'
import _startsWith from '@scripts/starts-with'
import Drapery from '@blocks/Drapery.astro'
import NavMobile from '@blocks/NavMobile.astro'
import Drawer from '@blocks/Drawer.astro'
import DrawerRegions from '@blocks/DrawerRegions.astro'
import SearchGlobal from '@blocks/SearchGlobal.astro'
import ModalVideo from '@blocks/ModalVideo.astro'
import DrawerFiltersPeople from '@blocks/DrawerFiltersPeople.astro'
import _getSettings from '@scripts/settings'

const { pageTitle, pageDescription, pageThumbnail, settings } = Astro.props
const site = settings || _settings.value

let fixHeader = true
let currPath = Astro.url.pathname
let unfixHeader = ['about', 'people', 'insights', 'events']

if (currPath == '/')
	currPath = currPath.replace(/^\//, 'home').replace(/\.html$/, '')
else currPath = currPath.replace(/^\//, '').replace(/\.html$/, '')

_startsWith(currPath, unfixHeader) ? (fixHeader = false) : (fixHeader = true)
---

<!doctype html>
<html
	lang='en'
	class:list={[
		`scroll-smooth bg-[var(--color-bg-default)]
        scrollbar-thin scrollbar-track-[#F2ECD3] scrollbar-thumb-[#FF2626]`,
	]}>
	<Head
		title={`${pageTitle} | ${site.title}`}
		description={pageDescription || site.description}
		image={pageThumbnail || '/thumbnail.png'}
	/>
	<body
		class='max-w-screen-3xl mx-auto flex flex-col min-h-screen overflow-x-hidden'>
		<TitleHidden tag='h1' title={pageTitle} id='title-hidden' />
		<Header
			nav={site.nav}
			tools={site.tools}
			class:list={[fixHeader && 'fixed inset-x-0 top-0']}
			id='header'
		/>
		<main
			class:list={[
				'mb-auto swup-in',
				fixHeader &&
					'pt-[var(--spacing-1)] md:pt-[var(--spacing-2)] lg:pt-[var(--spacing-3)]',
			]}
			id='swup'>
			<slot />
		</main>
		<Footer site={site} id='footer' />
		<Drapery data-drapery id='drapery'>
			<NavMobile nav={site.nav}/>
		</Drapery>
		<Modal data-modal>
			<ModalNewsletter data-modal-display='newsletter' />
		</Modal>
		<ModalVideo data-modal-video />
		<Drawer data-drawer>
			<DrawerRegions data-drawer-display='regions' />
			<SearchGlobal data-drawer-display='search' />
			<!-- <DrawerFiltersPeople data-drawer-display='filters-people' /> -->
		</Drawer>
		<Shim data-shim />
		<script src='@scripts/global.js'></script>
	</body>
</html>
