---
import Head from '@layouts/Head.astro'
import Header from '@layouts/Header.astro'
import Footer from '@layouts/Footer.astro'
import { useStoryblokApi } from '@storyblok/astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import { _addAwards, _awards } from '@scripts/store'

const currentYear = new Date().getFullYear(),
	lastYear = currentYear - 1,
	{ pageTitle, pageDescription, pageThumbnail, showNav, isError } =
		Astro.props,
	api = useStoryblokApi(),
	{ data: settings } = await api.get('cdn/stories/settings', {
		version: import.meta.env.DEV ? 'draft' : 'published',
		resolve_links: 'url',
		resolve_relations: [
			'settings.awards',
			'settings.links',
			'settings.socials',
		],
	}),
	site = settings.story.content

let { data: awards } = await api.get('cdn/stories', {
	starts_with: 'awards/',
	version: import.meta.env.DEV ? 'draft' : 'published',
	by_slugs: [`awards/${currentYear}/*`, `awards/${lastYear}/*`],
	level: 3,
	is_startpage: 0,
})

_addAwards(awards)
---

<!doctype html>
<html lang='en' class='scroll-smooth bg-[var(--color-bg-default)]'>
	<Head
		title={`${pageTitle} | ${site.title}`}
		description={pageDescription || site.description}
		image={pageThumbnail || '/thumbnail.png'}
	/>
	<body class='max-w-screen-3xl mx-auto flex flex-col min-h-screen'>
		<TitleHidden tag='h2' title={pageTitle} />
		<Header nav={site.nav} tools={site.tools} />
		<main class='mb-auto' id='swup'>
			<slot />
		</main>
		<Footer site={site} />
		<script src='@scripts/global.js'></script>
	</body>
</html>
