---
import Text from '@atoms/Text.astro'
import Wrapper from '@layouts/Wrapper.astro'
import Grid from '@layouts/Grid.astro'
import Icon from '@atoms/Icon.astro'
import ListSocials from '@blocks/ListSocials.astro'
import ListSitemap from '@blocks/ListSitemap.astro'
import TitleHidden from '@blocks/TitleHidden.astro'
import SwiperAwards from '@blocks/SwiperAwards.astro'
import { _sectionPadding } from '@scripts/snips'
import ButtonMore from '@atoms/ButtonMore.astro'

const year = new Date().getFullYear(),
	{ site, class: classes, ...props } = Astro.props
---

<footer class:list={['z-20 relative r-hide-overflow', classes]} {...props}>
	<div
		class='bg-[var(--color-dark)] md:mx-6 lg:mx-4 md:mb-6 lg:mb-4 rounded-tr-[2rem] md:rounded-[2rem]'>
		<Wrapper class='pt-6 md:pt-10 lg:pt-12 xl:pt-16 pb-4 md:pb-8 lg:-mx-4'>
			<Grid>
				<div
					class='col-span-full md:col-span-4 flex flex-col gap-6 md:gap-8 md:pr-6'>
					<a href='/'>
						<Icon name='icon-white' class='h-10 md:h-12 lg:h-14' />
						<span class='sr-only' set:text={site.title} />
					</a>
					<Text
						tag='p'
						text={site.description}
						size='subtext'
						color='body-light'
						class='opacity-70 max-w-screen-sm'
					/>
					<TitleHidden tag='h2' title='JEE Social Media Presence' />
					<ListSocials links={site.socials[0].content.global} />
					<ButtonMore
						tag='button'
						theme='on-dark'
						label={'Subscribe to JEE Insights'}
						class='my-3'
						data-modal-trigger='newsletter'
						data-display='newsletter'
					/>
				</div>
				<div
					class='col-span-full md:col-span-4 lg:col-span-8 flex flex-col gap-8 py-6 md:gap-10 lg:gap-16 md:pt-0'>
					<div>
						<TitleHidden
							tag='h2'
							title='Site Cross-Section Links Map'
						/>
						<ListSitemap
							links={site.links}
							class='col-span-full md:col-span-4'
						/>
					</div>
					<div class='col-span-full md:col-span-4'>
						<TitleHidden
							tag='h2'
							title='JEE Awards & Recognition (Plaques)'
						/>
						<SwiperAwards images={site.awards} />
					</div>
				</div>
				<div
					class='col-span-full md:col-span-4 lg:col-span-full text-[var(--color-muted)] opacity-70'>
					<Text
						text={`&copy; ${year} ${site.legalName}. All rights reserved.`}
						size='footnote'
					/>
				</div>
			</Grid>
		</Wrapper>
	</div>
</footer>
